.leftSide{
  background-color: rgba(15, 15, 48, 0.945);
}

.control{
  padding: 5px;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  background-color: #222;
}

.controlBox{
  border-bottom: .5px white solid;
}

.selectDiv{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.controlBox label{
  display: block;
  text-align: center;
  color: white;
  font-weight: 600;
}

.controlInside{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solInput{
  padding: 5px;
  font-size: 16px;
  text-align: center;
  width: 200px;
  border-radius: 5px;
  border: 1px #333 solid;
}

.solInput:focus{
  outline: none;
  box-shadow: inset 0 0 2px black;
}

.cameraBtns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.btn{
  background-color: #555;
  border: 1px darkred solid;
  padding: 3px 6px;
  color: white;
  font-size: 14px;
  width: 95%;
  margin: 0 auto;
  border-radius: 5px;
}

.btn:focus{
  outline: none;
}

.btn:active{
  transform: scale(.95);
}

.selected{
  background-color: white;
  color: #333;
}

@media (max-width: 1000px) {
  .control{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    height: 100px;
  }

  .btn{
    font-size: 10px;
  }

  .controlBox label{
    font-size: 12px;
  }

  .solInput{
    width: 80%;
    font-size: 12px;
    padding: 3px;
  }

  .controlBox{
    border-left: .25px white solid;
    border-right: .25px white solid;
    border-bottom: none;
  }

  .roverBtns, .displayBtns{
    display: flex;
    flex-direction: column;
  }

  .roverBtn:nth-child(2), .dispBtn:nth-child(2){
    margin-top: 5px;
  }

}

@media (max-width: 650px) {
  .btn{
    padding: 1px 2px;
  }

  .controlBox label{
    font-size: 10px;
    font-weight: 400;
  }

  .mobileBreak::before{
    content: "\A";
    white-space: pre;
  }
}