.rightSide{
  width: 100%;
  height: 100%;
}

.gridCenterCenter{
  display: grid;
  place-items: center center;
}

.displayHolder{
  width: 100%;
  height: 100%;
  background: url("../../images/crater.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
  background-color: rgb(177, 153, 77);
}

.loaderPlace{
  height: 100%;
  width: 100%;
  background-color: #111;
}

.regDisplay{
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 20px;
  width: fit-content;
  margin-top: 1em;
  padding-bottom: 150px;
}

.flipDisplay{
  height: 100%;
  width: 100%;
  background: url("../../images/crater.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
  background-color: rgb(50, 102, 148);
}

.infoPic{
  width: 300px;
  background-color: white;
  border: 1px black solid;
  border-radius: 5px;
}

.infoBox{
  padding: 3px;
  font-size: 12px;
}

.roverPic{
  width: 100%;
}

.infoLabel{
  color: darkred;
}

.infoText{
  font-size: 11px;
}