*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  overflow: hidden;
}

body{
  margin: 0;
  height: 100vh;
  perspective: 2px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: #222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar{
  background: #111;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: darkred;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: darkred;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: #333;
}

.parallax-wrapper{
  height: 100vh;
  width: 100vw;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper::before{
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  transform: translateZ(-1px) scale(2);
  background: url("./images/mars_photo.jpg");
  background-size: contain;
  background-position: center;
  background-color: #000;
  background-repeat: no-repeat;
  z-index: -10;
}

.regular-wrapper{
  height: 100vh;
  width: 100vw;
  padding-top: 25vh;
  position: relative;
  background: url("./images/crater.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: difference;
  background-color: #222;
  z-index: 50;
}

.content{
  margin: 0 auto;
  padding: 10px;
  width: 300px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px darkred solid;
  box-sizing: border-box;
}

.mbot{
  margin-bottom: 20vh;
}

.content h1{
  color: #333;
}

.bringStart{
  animation-name: rise;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.leave{
  animation-name: fall;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.text-center{
  text-align: center;
}

@keyframes rise{
  0% {opacity: 0; box-shadow: 0 0 0 black}
  100% {opacity: 1; box-shadow: 10px 10px 15px black}
}

@keyframes fall{
  0% {opacity: 1; box-shadow: 10px 10px 15px black}
  100% {opacity: 0; box-shadow: 0 0 0 black}
}

.linkBot{
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  text-align: center;
}

.linkBot:hover{
  text-decoration: underline;
  color: darkred;
}
